<hr>

<div class="contact-item">
    <img src="/assets/icon/email.svg" class="contact-icon" alt="email icon">
    <a href="mailto:zengyif@oregonstate.edu" target="_blank">zengyif@oregonstate.edu</a>
</div>

<div class="contact-item">
    <img src="/assets/icon/google-scholar.svg" class="contact-icon" alt="google scholar icon">
    <a href="https://scholar.google.com/citations?user=Ncq4-McAAAAJ&hl=en" target="_blank">Google Scholar</a>
</div>

<div class="contact-item">
    <img src="/assets/icon/linkedin.svg" class="contact-icon" alt="linkedin icon">
    <a href="https://www.linkedin.com/in/yifan-zeng-6789b626b/" target="_blank">LinkedIn</a>
</div>

<div class="contact-item">
    <img src="/assets/icon/x.svg" class="contact-icon" alt="x icon">
    <a href="https://x.com/yokeyxz" target="_blank">yokeyxz</a>
</div>

<div class="contact-item">
    <img src="/assets/icon/orcid.svg" class="contact-icon" alt="orcid icon">
    <a href="https://orcid.org/0000-0002-3174-9255" target="_blank">0000-0002-3174-9255</a>
</div>

<div class="contact-item">
    <img src="/assets/icon/xhs.svg" class="contact-icon" alt="xhs icon">
    <a href="https://www.xiaohongshu.com/user/profile/5efaae00000000000101ebab" target="_blank">yokeyx</a>
</div>

<hr>

<div class="contact-item">
    <img src="/assets/icon/resume.svg" class="contact-icon" alt="cv icon">
    <a href="/assets/pdf/Yifan_Zeng_CV.pdf" target="_blank">My CV</a>
</div>