<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" href="favicon.ico" />
    <meta name="description" content="{{site.description}}">
    <meta name="title" content="{{site.title}}">
    <title>{{site.title}}</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
    <link rel="stylesheet" href="{{ "/assets/css/style.css?v=" | append: site.github.build_revision | relative_url }}">
  </head>
  <body>
    <div class="wrapper">
      <header>
        <h1>Yifan Zeng | 曾一凡</h1>

        {% if site.logo %}
          <img src="{{site.logo | relative_url}}" alt="Logo" />
        {% endif %}

        <p>{{ site.description | default: site.github.project_tagline }}</p>

        {% if site.github.is_project_page %}
        <p class="view"><a href="{{ site.github.repository_url }}">View the Project on GitHub <small>{{ site.github.repository_nwo }}</small></a></p>
        {% endif %}

        {% if site.github.is_user_page %}
        <p class="view"><a href="{{ site.github.owner_url }}">View My GitHub Profile</a></p>
        {% endif %}
        
        <ul class="list-group list-group-flush">
          <li class="list-group-item">
            <div class="fw-bold"><img src="https://orcid.org/assets/vectors/orcid.logo.icon.svg" width="20px"> orcid</div>
            <a href="https://orcid.org/0000-0002-3174-9255" target="_blank">0000-0002-3174-9255</a>
          </li>
          <li class="list-group-item">
            <div class="fw-bold">Email</div>
            Personal <a href="mailto: zyf6@outlook.com">zyf6@outlook.com</a><br>
            Edu <a href="mailto: zengyif@oregonstate.edu">zengyif@oregonstate.edu</a>
          </li>
          <li class="list-group-item">
            <div class="fw-bold">WeChat ID</div>
            <a title="QR Code" data-bs-toggle="popover" data-img="assets/img/WeChat.JPG">ZYokey</a>
          </li>
          
        </ul>
      </header>
      <section >
        Hello! I'm Yifan Zeng, a <b>PhD student</b> in Computer Science at Oregon State University. My current research focuses on the robust planning and reasoning of the large language model (LLM) autonomous system. I previously was a <b>Research Engineer</b> at a start-up, applying deep learning in real-world applications and handling various challenges, such as insufficient data, low-quality labeling, and domain shift. My previous research was primarily on <b>computer vision, medical image analysis, self-supervised learning, and AI for Science</b>. I received my Bachelor's degree in Data Science at Zhuhai College of Jilin University in 2023, achieving a GPA of <code>3.84/4.0</code> and ranking first in my department.
      </section>
      <section>
        <h3>Publications</h3>
        <div class="card my-3">
          <div class="card-header">
            Heliyon (Under Review) | 2023
          </div>
          <div class="card-body">
            <h5 class="card-title">Enhanced Object Detection in Pediatric Bronchoscopy Images using YOLO-based Algorithms with CBAM Attention Mechanism</h5>
            <p class="card-text">Jianqi Yan*, <u>Yifan Zeng</u>, Junhong Lin, Jinrui Fan, Chuanyu Fang, Yong Cai</p>
          </div>
        </div>
        <div class="card my-3">
          <div class="card-header">
            <a href="https://link.springer.com/chapter/10.1007/978-3-031-12127-2_13">Computer and Information Science</a> | 2022
          </div>
          <div class="card-body">
            <h5 class="card-title">Task-Level Consistency Semi-Supervised Based Domain Adaptation for Lung Nodules Segmentation</h5>
            <p class="card-text"><u>Yifan Zeng</u>, Aohui Pang, Wei Lv and Xiaolin Zhu*</p>
          </div>
        </div>
        <div class="card my-3">
          <div class="card-header">
            <a href="https://onlinelibrary.wiley.com/doi/10.1111/jocd.15742">Journal of Cosmetic Dermatology</a> | 2023
          </div>
          <div class="card-body">
            <h5 class="card-title">A challenge of deep‐learning‐based object detection for hair follicle dataset</h5>
            <p class="card-text">Wei Lv*, Tao Chen, <u>Yifan Zeng</u>, Weihong Liu, Chuying Huang</p>
          </div>
        </div>
      </section>
      <footer>
        {% if site.github.is_project_page %}
        <p>This project is maintained by <a href="{{ site.github.owner_url }}">{{ site.github.owner_name }}</a></p>
        {% endif %}
        <p><small>Hosted on GitHub Pages &mdash; Theme by <a href="https://github.com/orderedlist">orderedlist</a></small></p>
      </footer>
    </div>
    <script src="{{ '/assets/js/scale.fix.js' | relative_url }}"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz" crossorigin="anonymous"></script>
  </body>
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <script>
    const popoverTriggerList = document.querySelectorAll('[data-bs-toggle="popover"]')
    const popoverList = [...popoverTriggerList].map(popoverTriggerEl => new bootstrap.Popover(popoverTriggerEl, {
      html: true,
      trigger: 'hover',
      placement: 'right',
      content: function () { 
        console.log($(this));
        return '<img src="assets/img/WeChat.JPG"  class="img-fluid"/>'; 
      }
    }))
  </script>
</html>
