<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" href="favicon.ico" />
    <meta name="description" content="{{site.description}}">
    <meta name="title" content="{{site.title}}">
    <title>{{site.title}}</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    <link rel="stylesheet" href="{{ "/assets/css/style.css?v=" | append: site.github.build_revision | relative_url }}">
  </head>
  <body>
    <div class="wrapper">
      <header>
        <h1>Yifan Zeng | 曾一凡</h1>

        {% if site.logo %}
          <img src="{{site.logo | relative_url}}" alt="Logo" />
        {% endif %}

        <p>{{ site.description | default: site.github.project_tagline }}</p>

        {% if site.github.is_project_page %}
        <p class="view"><a href="{{ site.github.repository_url }}">View the Project on GitHub <small>{{ site.github.repository_nwo }}</small></a></p>
        {% endif %}

        {% if site.github.is_user_page %}
        <p class="view"><a href="{{ site.github.owner_url }}">View My GitHub Profile</a></p>
        {% endif %}
        
        <ul class="list-group list-group-flush">
          <li class="list-group-item">
            <div class="fw-bold"><img src="https://orcid.org/assets/vectors/orcid.logo.icon.svg" width="20px"> orcid</div>
            <a href="https://orcid.org/0000-0002-3174-9255" target="_blank">0000-0002-3174-9255</a>
          </li>
          <li class="list-group-item">
            <div class="fw-bold">Email</div>
            Personal <a href="mailto: zyf6@outlook.com">zyf6@outlook.com</a><br>
            Edu <a href="mailto: yokey@stu.zcst.edu.cn">yokey@stu.zcst.edu.cn</a>
          </li>
          <li class="list-group-item">
            <div class="fw-bold">WeChat ID</div>
            <a title="QR Code" data-bs-toggle="popover" data-img="assets/img/WeChat.JPG">ZYokey</a>
          </li>
          
        </ul>
      </header>
      <section class="shadow-sm p-3 mb-5 bg-body rounded fs-6">
        I am an undergraduate student study <strong>Data Science and Big Data Technology</strong> at <i>Zhuhai College of Jilin University</i> since 2019.
        <br>
        I am interested in programming and keen to build.
        In 2020, I see the infinite possibility of deep learning and dive into the exploration of this area. 
      </section>
      <section>
        <h1>Education</h1>
        <h5>B.S. Zhuhai College of Jilin University 2019-2023</h5>
        <div class="card">
          <div class="card-body">
            <h6 class="card-title">Cumulative GPA</h6>
            <p class="card-text text-primary fw-bold">3.81/4.0 (Top 1 in the department)</p>
          </div>
        </div>
        
      </section>
      <section>
        {{ content }}
      </section>
      <footer>
        {% if site.github.is_project_page %}
        <p>This project is maintained by <a href="{{ site.github.owner_url }}">{{ site.github.owner_name }}</a></p>
        {% endif %}
        <p><small>Hosted on GitHub Pages &mdash; Theme by <a href="https://github.com/orderedlist">orderedlist</a></small></p>
      </footer>
    </div>
    <script src="{{ "/assets/js/scale.fix.js" | relative_url }}"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>
  </body>
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <script>
    const popoverTriggerList = document.querySelectorAll('[data-bs-toggle="popover"]')
    const popoverList = [...popoverTriggerList].map(popoverTriggerEl => new bootstrap.Popover(popoverTriggerEl, {
      html: true,
      trigger: 'hover',
      placement: 'right',
      content: function () { return '<img src="' + $(this).data('img') + '"  class="img-fluid"/>'; }
    }))
  </script>
</html>
